name: Pipeline Final

on:
  push:
    branches:
      - main  # Cambia esto al nombre de tu rama principal si es diferente

jobs:
  sonarcloud-validation:
    name: SonarCloud Validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Up JDK
        uses: actions/setup-java@v3.12.0  # Actualizado a la versi贸n v2
        with:
            java-version: '11'
            distribution: 'zulu' 
            
      - name: SonarCloud Scan
        run: sonar-scanner -Dsonar.qualitygate.wait=true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  # Usa la variable de entorno del token de acceso

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: sonarcloud-validation  # Espera a que se complete la validaci贸n de SonarCloud antes de la construcci贸n

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3.12.0  # Actualizado a la versi贸n v2
        with:
          java-version: '11'
          distribution: 'zulu' 

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean :service-a:build

      - name: SonarCloud Pkg
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
